.custom-box-1{
    background-color: #434343;
}

.custom-box-2{
    /* background-color: #FFB904; */
    background-color: #cc9200;
}

.custom-box-3{
    background-color:  #00B212;
}

.custom-box-4{
    background-color:  #B1008A;
}

.custom-box-5{
    background-color:  #000000;
}


.custom-box-6{
    background-color:  #005A76;
}


h3{
    font-weight: 400 !important;
}


.sub-custom-box-1{
    background-color: #0eb31e;
}

.sub-box{
   box-shadow: 0px 0px 10px #00000031;
}